* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
	padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-width: 3px;
  border-style: dashed;
  border-image: linear-gradient(to bottom, #743ad5, #d53a9d) 4 100%;
}
